header{
    background-color: #b1b1b1;
    width: auto;
    height: 200px;
}
.mapa {
    display: flex;
    justify-content: center;
    padding: 20px;
}
    

.mapa{

    background-color: #fffcfc;
}

/* Navegación */
nav { 
    background: #1a1a1a;
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
 }
nav a { 
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: 0.3s;
    }
nav a:hover { color: #d4af37; }
.mapa iframe {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
